@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
   <h1><b>PSY ANALYSIS </b> </h1>
    <!--<p class="lead">Psychoanalysis is a set of psychological and psychotherapeutic theories and associated techniques, originally popularized by Austrian physician Sigmund Freud and stemming partly from the clinical work of Josef Breuer and others. Since then, psychoanalysis has expanded and been revised, reformed and developed in different directions. </p> -->
 <p class="lead"> A Cognitive Psychological Disorder Prediction Tool </p> 
<!--<p style="text-align: center;"><span style="font-family:trebuchet ms,helvetica,sans-serif;"><span style="color:#6666ff;"><span style="font-size:72px;"><strong>PSY ANALYSIS</strong></span></span></span></p>-->
<!--<p style="text-align: center;"><span style="font-family:lucida sans unicode,lucida grande,sans-serif;"><span style="color:#6666ff;"><span style="font-size:72px;"><strong>PSY ANALYSIS</strong></span></span></span></p>-->

</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            This is a research project for predicting of disorders based on you symtoms. Interesting ? Just register and let us do the predicting.
        </p>
        <p>
            @Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { @class = "btn btn-default" })
        </p>
    </div>
    @*<div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>*@
</div>