@{
    ViewBag.Title = "PredictDisorder";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>

</style>


<div class="page-header">
    <h1>Predict Disorder</h1>
</div>


<div class="row">
    <div id="error_broadcast" class="bs-component">
    </div>
</div>


<div class="row">

    <!--Symptoms-->
    <div class="col-md-6">

        <div id="symptoms" class="bs-component">
            <h2>Symptoms</h2>
            <hr />

            <div class="form-horizontal">
                <div class="form-group">
                    <label class="col-md-2">Description</label>
                    <div class="col-md-10">
                        <textarea name="description" rows="3" class="form-control" placeholder="Describe your sympton"></textarea>
                        <span class="help-block">Describe your sympton.</span>
                    </div>
                </div>


                <div class="form-group">
                    <div class="col-md-10 col-md-offset-2">
                        <button class="btn btn-default hidden">Cancel</button>
                        <button class="btn btn-primary" type="submit">Predict</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Prediction-->
    <div class="col-md-5 col-md-offset-1">
        <div class="bs-component">
            <h2>Disorder</h2>
            <hr />

            <div class="bs-component">
                <div id="prediction_output"></div>
                @*<div>
                    <button class="btn btn-primary">Save Prediction</button>
                </div>*@
            </div>
        </div>
    </div>




</div>


@section ManagedViewScripts{
    <script type="text/javascript" src="~/Areas/Patient/Scripts/Home/PredictDisorder.js"></script>
}

